# Ignore the work directory as it is created as needed #
*~
*.exe
galacticusConfig.xml
galacticus.py
work
testSuite/*.log
testSuite/*.pbs
testSuite/outputs
doc/contributions.tex
doc/enumerations
doc/inputParameters
doc/methods
doc/physics
doc/autoEnumerationDefinitions.tex
doc/autoEnumerationSpecifiers.tex
doc/autoInputParameters.tex
doc/autoMethods.tex
doc/autoPhysics.tex
doc/constants.tex
doc/dataEnumerationSpecifiers.tex
doc/dataEnumerations.tex
doc/dataMethods.tex
doc/dataParameters.tex
doc/source_documentation.tex
doc/Glossary.bib
doc/*.aux
doc/*.acn
doc/*.acr
doc/*.alg
doc/*.bbl
doc/*.blg
doc/*.brf
doc/*.cdx
doc/*.cmd
doc/*.cnd
doc/*.glg
doc/*.glo
doc/*.gls
doc/*.idx
doc/*.ilg
doc/*.ind
doc/*.ist
doc/*.log
doc/*.out
doc/*.toc
doc/Galacticus_Usage.pdf
doc/Galacticus_Physics.pdf
doc/Galacticus_Development.pdf
doc/Galacticus_Source.pdf
doc/GalacticusAccented.bib
source/FFTlog
source/texfrag
__pycache__
.DS_Store
