# Ignore the work directory as it is created as needed #
*~
*.swp
*.swo
*.swn
*.exe
galacticusConfig.xml
galacticus.py
work
testSuite/*.log
testSuite/*.pbs
testSuite/outputs
source/external/FFTlog
source/texfrag
__pycache__
*.egg-info
.pytest_cache
.DS_Store
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.ipynb_checkpoints